.blogs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

.blogs h1 {
  color: #fff;
  height: 10vh;
  font-size: 40px;
  text-align: center;
}

.blogsContent {
  min-height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.blogsContent a {
  transition: 1s;
  border-radius: 3px;
  overflow: hidden;
}

.blogsContent a img {
  max-width: 600px;
  width: 100%;
  height: auto;
  border-radius: 3px;
  transition: transform 1s;
}

.blogsContent :hover img {
  border-radius: 3px;
  transform: scale(1.1);
}

@media (max-width: 240px) {
  .blogs h1 {
    font-size: 30px;
  }
}
