.checkout {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.productDetails,
.paimentInfo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.paimentInfo {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.productDetails {
  width: 60%;
  color: #000;
  text-align: center;
}
.finalPrice {
  font-weight: 800;
  font-size: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.finalPrice span {
  margin-left: 5px;
}
.miniNav {
  display: flex;
  gap: 40px;
}
.miniNav a {
  color: #fff;
  font-weight: 550;
  transition: 1s;
  height: 8vh;
}
.miniNav a:hover {
  color: var(--main);
}

.visaCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  transition: 1s;
}

.visaCard input {
  width: 80%;
  padding: 8px;
}
.personalInfo,
.bankInfo {
  display: flex;
  margin: 5px 0;
  gap: 5px;
  width: 90%;
}
.activePaypal,
activeVisa {
  color: var(--main);
}
