.checkout {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.productDetails,
.paimentInfo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.paimentInfo {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.productDetails {
  width: 60%;
  color: #000;
  text-align: center;
}
.finalPrice {
  font-weight: 800;
  font-size: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.finalPrice span {
  margin-left: 5px;
}
.miniNav {
  display: flex;
  gap: 40px;
}
.miniNav a {
  color: #fff;
  font-weight: 550;
  transition: 1s;
}
.miniNav a:hover {
  color: var(--main);
  border-bottom: 2px solid var(--main);
}

.visaCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  transition: 1s;
  height: 25vh;
}

.visaCard input {
  width: 80%;
  padding: 8px;
  border: none;
  border-radius: 3px;
}
.personalInfo,
.bankInfo {
  display: flex;
  margin: 5px 0;
  gap: 5px;
  width: 90%;
}
.activePaypal,
activeVisa {
  color: var(--main);
}
.payBtn {
  margin: 10px 0;
}
.payBtn button {
  padding: 10px 40px;
  background-color: var(--main);
  color: #000;
  border: none;
  border-radius: 3px;
  font-weight: 550;
  cursor: pointer;
}
.paypalPay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
}

.paypalPay button {
  padding: 10px 50px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #003087;
  color: #fff;
  font-weight: 600;
}

.paypalPay button svg {
  font-size: 18px;
}
