.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  width: 100%;
}

.contact h1 {
  font-size: 40px;
  color: #fff;
  width: 700px;
  text-align: center;
  height: 10vh;
}

.contact form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contact form input,
.contact form textarea {
  padding: 15px;
  display: flex;
  margin: 1rem 0rem;
  border-radius: 30px;
  background-color: #000;
  border: none;
  padding-left: 2rem;
  resize: vertical;
}

.contact form input::placeholder,
.contact form textarea::placeholder {
  color: #fff;
}

.submitBtn {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submitBtn button {
  padding: 10px 80px;
  background-color: var(--main);
  font-weight: 500;
  border-radius: 30px;
  border: none;
  border: 4px solid var(--main);
  cursor: pointer;
}

.submitBtn button:hover {
  background-color: transparent;
  border: 4px solid var(--main);
  color: #fff;
}
