header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logoHolder img {
  max-width: 200px;
  width: 100%;
  height: auto;
}

ul {
  display: flex;
}
ul li {
  list-style: none;
  padding: 0 10px;
}

ul li a {
  font-weight: 400;
  color: #fff;
  transition: 0.4s;
  font-weight: 500;
}
ul li a:hover {
  color: var(--main);
}
.cw {
  display: flex;
  gap: 20px;
}

.cw a {
  border: none;
  background-color: transparent;
  color: var(--main);
  font-size: 24px;
  cursor: pointer;
}
.menu {
  display: none;
}
@media (max-width: 766px) {
  .menu {
    display: block;
  }
  .menu svg {
    font-size: 30px;
    color: #fff;
  }
  nav,
  .cw {
    display: none;
  }
}
