.productDetailsCard {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productImage {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productImage img {
  max-width: 600px;
  width: 100%;
  height: auto;
}

.productDetails {
  width: 50%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  color: #fff;
}

.productDetails h3 {
  text-align: center;
  font-size: 30px;
  color: var(--main);
}

.sizes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 30px;
}

.productDetails p {
  margin: 1rem 0;
}

.sizes p {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 450;
  height: 30px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.sizes p:hover {
  background-color: var(--main);
}

.qt {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 30px;
}

.qt .qtAv {
  font-weight: 800;
  font-size: 18px;
  padding: 2px;
}

.manageQt input,
.manageQt button {
  padding: 4px;
  border: none;
  border: 4px solid #fff;
  background-color: #fff;
}
.manageQt button {
  cursor: pointer;
}
.manageQt input {
  width: 60px;
  text-align: center;
  outline: none;
  cursor: pointer;
}

.manageQt button:hover {
  opacity: 0.5;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.price {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 800;
  font-size: 24px;
  color: var(--main);
}

.manageBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.manageBtn button {
  padding: 5px 25px;
  border-radius: 3px;
  border: 4px solid var(--main);
  background-color: var(--main);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.manageBtn button svg {
  font-size: 24px;
  margin: 0 5px;
}
.manageBtn .wishBtn {
  background-color: transparent;
  color: #fff;
}
.manageBtn .cartBtn:hover {
  background-color: transparent;
  border: 4px solid var(--main);
  color: #fff;
}
.manageBtn .wishBtn:hover {
  background-color: var(--main);
  border: 4px solid var(--main);
  color: #000;
}
